@font-face {
    font-family: "Rubik-Medium";
    src: url("../../styles/fonts/Rubik-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

.calendar header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.line {
    width: 467px;
    height: 0px;
    border: 1px solid #FFFFFF;
    opacity: 0.43;
    margin-bottom: 20px;
    margin-top: 5px;
}

.calendar table {
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    margin: 0 auto;
}

.calendar th {
    vertical-align: middle;
    text-align: center;
    width: 52px;
    height: 51px;
    font-family: 'Rubik-Light', sans-serif;

    color: #DFDFDF;
    font-size: 20px;
}

.week {
    line-height: 1.5;
}

.calendar .day {
    color: #DFDFDF;
    font-size: 20px;


    padding: 20px;
    vertical-align: middle;
    text-align: center;
    border: 2px solid transparent;
}

.calendar .day:hover {
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.calendar .selected {
    color: #FDD000;
    position: relative;
}

.selected::after {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background-color: #FDD000;
    border-radius: 50%;
    top: 3.2rem;
    right: 44%;
}

.calendar .day.today {
    background: #FDD000 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #0000000D;
    color: black;
}

.calendar .day.today:hover {
    background: #FDD000 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 25px #0000000D;
}

.calendar .grey {
    opacity: 0.24;
}

@media (max-width: 480px) {
    .calendar .day {
        padding: 5px;
    }

    .calendar-wrap {
        height: auto;
    }

    .selected::after {
        top: 2rem;
        right: 42%
    }
}