@font-face {
    font-family: "Rubik-Light";
    src: url("../fonts/Rubik-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}

.banner {
    max-width: 1920px;
    width: 100%;
    height: 908px;
    background: url('../img/banner.jpg') 0% 0% no-repeat padding-box;

    display: flex;
    justify-content: flex-end;
}

.banner-text {
    max-width: 554px;
    width: 100%;
    height: 313px;
    margin-right: 35px;
    margin-top: 365px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.banner-text__title {
    max-width: 518px;
    width: 100%;
    height: 124px;
    margin: 0;
    margin-bottom: 45px;

    font-family: 'Rubik-Light', sans-serif;
    font-weight: 600;
    font-size: 50px;
    text-align: right;
    letter-spacing: 3.5px;
    color: #FDD000;
    text-transform: uppercase;
}

.banner-text__subtitle {
    max-width: 554px;
    width: 100%;
    height: 144px;

    font-family: 'Rubik-Light', sans-serif;
    font-size: 30px;
    text-align: right;
    letter-spacing: 0.6px;
    color: #DFDFDF;
}

.calendar-wrap {
    max-width: 704px;
    width: 100%;
    height: 908px;
    background: #272829 0% 0% no-repeat padding-box;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-wrap .container {
    max-width: 467px;
    width: 100%;
    height: 491px;
}

.mask {
    opacity: 0.5;
}


@media (max-width: 768px) {
    .banner {
        flex-direction: column;
    }

    .banner-text {
        margin: 0px auto;
        padding-top: 20px;
    }

    .banner-text__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 15px;
    }

    .banner-text__subtitle {
        text-align: center;
        font-size: 24px;
        margin-top: 0px;
    }

    .calendar-wrap {
        margin: 40px auto;
    }
}

@media (max-width: 480px) {
    .banner-text {
        padding: 20px;


    }

    .banner-text__title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 15px;
    }

    .banner-text__subtitle {
        text-align: center;
        font-size: 24px;
        margin-top: 0px;
    }

    .calendar .day {
        padding: 5px;
    }
}