button, select {
    height: 2em;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:focus, select:focus {
    outline: none;
}

button {
    color: #DFDFDF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .25em .75em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
}

select {
    color: #DFDFDF;
    padding: .25em .1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
}

option {
    color: black;
}
