/*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');*/
@import "about.css";
@import "home.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.wrapper {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.header {
    max-width: 1920px;
    width: 100%;
    height: auto;
    margin-bottom: 22px;
    margin: 0 auto;
}

.header .container {
    max-width: 1920px;
    width: 100%;
    height: 150px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: 0 auto;
    padding: 0 110px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
}

.header__logo img {
    width: 165px;
    height: 50px;
}

.nav {
    width: 290px;
    max-height: 50px;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.nav__item {
    list-style-type: none;
    width: auto;
    height: 33px;
    margin-left: 10px;


}

a {
    text-decoration: none;
}

.nav__link {
    position: relative;
    font-family: 'Rubik-Light', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 0.56px;
    color: #3D3D3D;
    text-transform: uppercase;
    text-align: left;
}


@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
    .header .container {
        margin-top: 30px;
        height: 200px;
        flex-direction: column;
        justify-content: space-around;
    }

    .header__logo {
        margin-bottom: 30px;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        max-height: 100px;
    }
}
